---
import TaskManager from '../components/TaskManager.astro';
---

<html>
  <head>
    <title>Lista de Tareas</title>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link href="/src/styles/global.css" rel="stylesheet">
  </head>
  <body class="bg-gray-100">
    <TaskManager />
  </body>
</html>
